@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2,
.subtitle1 {
  font-size: 24;
  font-weight: bold;
}

.subtitle2 {
  font-size: 14;
  font-weight: normal;
}

.body-large {
  font-size: 18;
}

.body-medium {
  font-size: 14;
}

.body-small {
  font-size: 12;
}

.btn-large-regular {
  font-size: 16;
}

.btn-large-bold {
  font-size: 16;
  font-weight: bold;
}

.btn-small {
  font-size: 14;
  font-weight: bold;
}

.container {
  max-width: 1200px;
}